<nav class="top-bar">
    <div class="top-bar-container top-bar-nav-container">

    <div style="flex: 0.1">
        <a href="{{site.url}}/play/" style="z-index: 100; position: relative; font-size: 12px">PLAY</a>
    </div>
    <div style="flex: 0.1;">
        <a href="{{site.url}}/dataset/" style="z-index: 100; position: relative; font-size: 12px">DATASET</a>
    </div>
    <div style="flex: 0.1;">
        <a href="{{site.url}}/docs/" style="z-index: 100; position: relative; font-size: 12px">ENVIRONMENT</a>
    </div>
    <div style="flex: 0.1">
        <a href="{{site.url}}/competition/" style="z-index: 100; position: relative; font-size: 12px">COMPETITION</a>
    </div>

    </div>
    <div class="top-bar-container" style="position: relative; top: -50px; width:100px; margin-left:auto; margin-right: auto; z-index: 120;">
        <a href="http://minerl.io/index.html">MINERL</a>
    </div>
    <div class="top-bar-container top-bar-nav-container" style="position: relative; top: -100px">
        <div style="flex: 0.1; margin-left: auto">
            <a href="{{site.url}}/docs/" style="z-index: 100; position: relative; font-size: 12px">DOCS</a>
        </div>
        <div style="flex: 0.1;">
            <a href="{{site.url}}/about/" style="z-index: 100; position: relative; font-size: 12px">ABOUT</a>
        </div>
        <div style="flex: 0.1">
            <a href="{{site.url}}/blog/" style="z-index: 100; position: relative; font-size: 12px">BLOG</a>
        </div>
    </div>

</nav>
<header class="banner">
    <h1 class="text1">{{ include.title }}</h1>
</header>
