<nav class="top-bar">
    <div class="top-bar-container top-bar-nav-container">
    <div style="flex: 0.1">
        <a href="{{site.url}}/about/" style="z-index: 100; position: relative; font-size: 12px">ABOUT</a>
    </div>
    <div style="flex: 0.1">
        <a href="{{site.url}}/play/" style="z-index: 100; position: relative; font-size: 12px">PLAY</a>
    </div>
    <div style="flex: 0.1">
        <a href="{{site.url}}/dataset/" style="z-index: 100; position: relative; font-size: 12px">DATASET</a>
    </div>
    <div style="flex: 0.1">
        <a href="{{site.url}}/blog/" style="z-index: 100; position: relative; font-size: 12px">BLOG</a>
    </div>
    </div>
    <div class="top-bar-container" style="position: relative; top: -50px">
    <a href="{{site.url}}/index.html">MINERL</a>
    </div>
</nav>
<header class="banner">
    <h1 class="text1">{{ include.title }}</h1>
</header>