.title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 100px;
}

.collection{
    margin: .5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.collection a.collection-item {
    display: block;
    transition: .25s;
    color: #26a69a;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.secondary-content {
    float: right;
}
